.mainWrapper {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 93, 6);
}

.wrapper {
    width: 100%;
    height: 60px;
    max-width: 2000px;
    display: flex;
    justify-content: center;
}

.desktopNavBar,
.mobileNavBar {
    background-color: rgba(222, 80, 3, 0.833);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 2000px;
    height: 60px;
    padding: 0px 20px;
    position: fixed;
    z-index: 200;
    top: 0;
}

.mobileNavBar {
    background-color: rgb(240, 96, 19);
}

.LogoDesktopNav,
.LogoMobileNav {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(7, 54, 77);
}

.menuDesktop {
    width: 60%;
    color: rgb(7, 54, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px
}

.menuDesktop li {
    list-style: none;
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.linkDesktop {
    text-decoration: none;
    color: rgb(7, 54, 77);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkDesktop:hover {
    background-color: aliceblue;
}


/* mobile NavBar, */

.hamburgContainer {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.hamburgLine {
    width: 80%;
    height: 3px;
    background-color: rgb(7, 54, 77);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
}

.menuMobile {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(189, 75, 4, 0.995);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    z-index: -1;
    pointer-events: none;
    left: 100%;
    transition: left 0.3s linear;
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -ms-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
}

.show {
    left: 0;
    pointer-events: all;
}

.menuMobile li {
    width: 100%;
    height: 100px;
    background-color: rgba(228, 110, 25, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkMobile {
    text-decoration: none;
    color: rgb(7, 54, 77);
    ;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 5s linear;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 5s linear;
    -ms-transition: transform 5s linear;
    -o-transition: transform 5s linear;
}

.linkMobile:hover {
    background-color: rgb(243, 128, 57);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.open .hamburgLine:nth-of-type(1) {
    transform: translateY(13px) rotate(45deg);
    -webkit-transform: translateY(13px) rotate(45deg);
    -moz-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
}

.open .hamburgLine:nth-of-type(2) {
    background-color: transparent;
}

.open .hamburgLine:nth-of-type(3) {
    transform: translateY(-13px) rotate(-45deg);
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -moz-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
}


/* drop down */

.dropDownContainer {
    /*     background-color: rgb(11, 48, 149);
 */
    position: relative;
    cursor: pointer;
}

.topSectionDropDown {
    width: 70px;
    height: 50px;
    /*     background-color: aliceblue;
 */
    position: relative;
}

.topSectionDropDown img {
    /*  width: 100%;
    height: 100%; */
    width: 70px;
    height: 50px;
}

.BottomSectionDropDown {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 135px;
    min-height: 100px;
    border-radius: 10px;
    background-color: rgba(240, 127, 46, 0.906);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    display: none;
    cursor: pointer;
}

.show.BottomSectionDropDown {
    display: block;
}

.dropDownFlag {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(7, 54, 77);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dropDownFlag img {
    width: 70px;
    height: 50px;
}

.dropDownFlag span {
    text-transform: capitalize;
}

.rightSection {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cartIcon {
    color: rgb(7, 54, 77);
    font-size: 24px;
    cursor: pointer;
}

.cartSection {
    position: relative;
    margin-right: 10px;
}

.cartSection span {
    position: absolute;
    top: -10px;
    color: rgb(7, 54, 77);
    font-size: 20px;
}