.wrapper {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
}

.loginFormContainer,
.registerContainer {
    width: 45%;
    min-height: 300px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.loginFormSection,
.registerFormSection {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.loginFormSection h1,
.registerFormSection h1 {
    color: rgb(86, 84, 84);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.loginFormSection input,
.registerFormSection input {
    width: 90%;
    height: 50px;
    padding: 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.242);
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.loginFormSection button,
.registerFormSection button {
    width: 90%;
    height: 50px;
    padding: 5px;
    border: 0px solid transparent;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.registerFormSection p,
.loginFormSection p {
    width: 90%;
    color: red;
}

.registerFormSection p:nth-last-child(1),
.loginFormSection p:nth-last-child(1) {
    width: 90%;
    color: rgb(86, 84, 84);
    cursor: pointer;
}

.passwordInput {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
}

.passwordInput input {
    width: 100%;
}

.passwordIcon {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    .loginFormContainer,
    .registerContainer {
        width: 90%
    }
}